header.person,
header.create,
header.printer {
  button {
    margin-top: 1.5rem;
    height: 100%;
    background: blue;
    border: 0;
    color: white;
    font-size: large;
    padding: 1rem;
  }
}


