header.person,
header.create,
header.payments,
header.single,
header.printer {
  a {
    float: left;
    width: 130px;
    padding: 0.5rem;

    img {
      width: 60px;
      margin: 0px;
      vertical-align: top;
    }
    span {
      display: inline-block;
      margin-left: -20px;
      margin-top: 50px;
      font-size: x-large;
    }

    text-decoration: none;
    color: black;
  }
}


