<h2>
  R$ {{ sum() }}
</h2>
<table>
  <tr>
    <th>horário</th>
    <th>preço</th>
    <th>pago</th>
    <th>id</th>
    <th>name</th>
    <th>category</th>
  </tr>
  <tr ng-repeat="payment in payments">
    <td style="width: 10em">{{ fix(payment.when) }}
    <td style="width: 10em">{{ payment.price }}</td>
    <td style="width: 10em">{{ payment.paid }}</td>
    <td style="width: 10em" >{{ payment.xid }}</td>
    <td style="width: 20em">{{ payment.name }}</td>
    <td style="width: 10em">{{ payment.category }}</td>
  </tr>
</table>
