<header class="noprint">
  <form>
    <label>
      operador
    </label>
    <select ng-model="operator"
            ng-options="operator as operator for operator in operators"
            ng-change="changeOperator()">
    </select>
    <label>
      dia
    </label>
    <input ng-model="query.day"   focus-on="day" ng-blur="changeDay()"/>,
    <label>
      das
    </label>
    <input ng-model="query.start" focus-on="start"/>:00
    <label>
      às
    </label>
    <input ng-model="query.end"   focus-on="end"  />:59
  </form>
  <h2 ng-show="payments.$resolved">
    {{ filtered.length }} operações
  </h2>
  <h2 ng-show="payments.$resolved">
    R$ {{ sumOfFiltered }}
  </h2>
</header>
<header class="print">
  <h1>
    Relatório de Operação de Caixa
  </h1>
  <dl>
    <dt>operador</dt>
    <dd>{{ operator || '--'}}</dd>
    <dt>dia</dt>
    <dd>{{ query.day || '--' }}</dd>
    <dt>hora início</dt>
    <dd>{{ query.start || 7 }}:00</dd>
    <dt>hora fim</dt>
    <dd>{{ query.end || 17 }}:59</dd>
    <dt>hora de emissão</dt>
    <dd class="large">{{ issueTime }}</dd>
  </dl>
</header>
<table>
  <tr>
    <th>data</th>
    <th>horário</th>
    <th>preço</th>
    <th>pago</th>
    <th>id</th>
    <th>name</th>
    <th>categoria</th>
  </tr>
  <tr ng-repeat="payment in filtered = (payments | filter:periodFilter)">
    <td style="width: 10em">{{ payment.when | amDateFormat:'DD/MM/YYYY' }}</td>
    <td style="width: 10em">{{ payment.when | amDateFormat:'HH:mm:ss' }}</td>
    <td style="width: 10em">R$ {{ payment.price }}</td>
    <td style="width: 10em">R$ {{ payment.paid }}</td>
    <td style="width: 10em" >{{ payment.xid }}</td>
    <td style="width: 20em">{{ payment.name }}</td>
    <td style="width: 10em">{{ payment.category }}</td>
  </tr>
  <tr class="message" ng-hide="operator">
    <td colspan="7">
      selecione um operador de caixa
    </td>
  </tr>

  <tr class="message" ng-hide="payments.$resolved || !operator">
    <td colspan="7">
      carregando...
    </td>
  </tr>
</table>
<footer class="print">
  <h3>
    operações:
    {{ filtered.length }}
  </h3>

  <h2>
    valor total:
    R$ {{ sum(filtered) }}
  </h2>
</footer>
