@import 'modules/shared';

main.payments {
  fieldset {
    font-size: xx-small;
    dl {
      dt {
        float: left;
        display: inline-block;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
      dd {
        float: left;
        display: inline-block;
        margin: 0 1rem 0 0.2rem;
        min-width: 3rem;
        padding: 0;
      }
    }
  }

  header {
    @media print {
      position: relative;
    }
    h1 {
      @media print {
        font-size: large;
      }
    }
    text-align: right;
    font-size: x-large;
    background: lightgray;
    position: fixed;
    width: 90%;
    margin: 0;
    padding: 1rem;

    h2 {
      float: right;
      text-align: right;
      display: inline-block;
      margin: 0 2rem;
      padding: 0;
    }

    form {
      float: left;
      label {
        width: 5rem;
      }
      input {
        width: 2rem;
        border: transparent;
        text-align: left;
        font-size: x-large;
      }
      select {
        font-size: xx-large;
      }

    }
  }
  table {
    @media screen {
      margin-top: 5rem;
    }
    @media print {
      font-size: xx-small;
      padding: 0.3rem;
    }
    border-collapse: collapse;
    width: 90%;
    tr {
      &:nth-child(odd) {
        background: #ccc;
      }
      &:nth-child(1) {
        background: black;
        color: white;
      }
      th {
        text-align: left;
      }
      td {
        padding: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
