@import 'modules/shared';

main.person {
  @include in-out(Right,Right);

  padding: 2rem 4rem;

  header {
    min-height: 100px;
    position: relative;
    width: 45rem;
    float: left;
    border-bottom: 1px solid green;

    &.pending {
      background: $pending-bg;
    }
    &.valid {
      background: $valid-bg;
    }
    &.loading {
      background: url(/ajax-loader.gif) no-repeat right;
    }

    button {
      float: right;
    }

    img {
      float: left;
      margin-right: 1rem;
    }

    h1 {
      padding: 0;
      margin: 0;
      font-size: 190%;
      position: absolute;
      top: 0.2rem;
      width: 34rem;
      left: 7rem;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        overflow: visible;
        z-index: 9;
        height: auto;
        background: inherit;
      }
    }
    h2 {
      font-size: 160%;
      position: absolute;
      bottom: 0rem;
      left: 7rem;
      margin: 0;
      padding: 0;
      color: green;
    }
    h3 {
      font-size: 160%;
      position: absolute;
      bottom: 0rem;
      right: 1rem;
      margin: 0;
      padding: 0;
    }
    div {
      float: right;
      width: 3rem;
      a {
        display: inline-block;
        text-decoration: none;
        padding: 0.2rem;
        margin-bottom: 0.2rem;
        background: gray;
        color: white;
      }
    }
  }

  &>table {
    float: right;
    width: 23rem;
    padding: 0 1rem;
    margin: 0px;

    &.loading td {
      background: url(/ajax-loader.gif) no-repeat left;
    }

    tr {
      height: 2rem;

      &:first-child th {
        text-align: center;
        color: black;
        font-weight: bold;
      }

      th {
        cursor: pointer;
        &.done:before {
          position: absolute;
          margin-left: -1rem;
          content: "√";
          color: green;
          font-size: x-large;
        }
        text-align: left;
        color: gray;
        width: 5rem;
        border-bottom: 1px dotted lightgray;
      }
      td {
        border-bottom: 1px dotted lightgray;
        text-align: right;
        width: 15em;
        max-width: 15em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          word-wrap: break-word;
          white-space: normal;
        }

        &.empty {
          font-style: italic;
          color: lightcoral;
        }
      }
    }
  }

  section {
    float: left;
    width: 41rem;
    padding: 0.2rem 2rem;
    text-align: center;
    height: 20rem;
    border-top: 1px solid gray;

    h1 {
      font-size: 250%;
    }

    small {
      display: block;
      text-align: center;
    }
    small:before { content: '('; }
    small:after  { content: ')'; }
  }
}
