@import 'modules/shared';

header.detail {
  button {
    width: 10rem;
    height: 100%;
    background: green;
    color: white;
    font-size: xx-large;

    &:before {
      content: '«'
    }
  }
}

main.detail {
  @include in-out(Right,Right);

  header {
    border: 2px solid gray;
    width: 60rem;
    margin: 1rem;

    img {
      float: left;
      margin-right: 1rem;
    }

    h1 {
      font-size: 300%;
      padding: 0;
      margin: 0;
    }

  }
}

