@import 'modules/shared';

body.detail {
  @include in-out(Right,Right);

  &>header {
    button {
      width: 10rem;
      height: 100%;
      background: green;
      color: white;
      font-size: xx-large;

      &:before {
        content: '«'
      }
    }
  }
}

