<header ng-class="{ loading: !person }">
  <img gravatar-src="person.email" gravatar-size="100">
  <h1>{{ person.name }}</h1>
  <p>{{ person.xid }}</p>
</header>

<table ng-class="{ loading: !person }">
  <tbody>
    <tr>
      <th colspan="2">dados básicos</th>
    </tr>
    <tr>
      <th ng-class="{ done:   person.name }"    >nome</th>
      <td ng-class="{ empty: !person.name }"    >{{ person.name     || 'não informado' }}</td>
    </tr>
    <tr>
      <th ng-class="{ done:   person.document }">cpf</th>
      <td ng-class="{ empty: !person.document }">{{ person.document || 'não informado'}}</td>
    </tr>
    <tr>
      <th ng-class="{ done:   person.email }"   >email</th>
      <td ng-class="{ empty: !person.email }"   >{{ person.email    || 'não informado' }}</td>
    </tr>
    <tr>
      <th ng-class="{ done:   person.country }" >país</th>
      <td ng-class="{ empty: !person.country }" >{{ person.country  || 'não informado' }}</td>
    </tr>
    <tr ng-hide="isForeign">
      <th ng-class="{ done:   person.city }"    >cidade</th>
      <td ng-class="{ empty: !person.city }"    >{{ person.city || 'não informado' }}</td>
    </tr>

  </tbody>
  <tbody>
    <tr>
      <th colspan="2">ingresso</th>
    </tr>
    <tr>
      <th ng-class="{ done:   ticket.grants }">categoria</th>
      <td ng-class="{ empty: !ticket.grants }">{{ ticket.grants }}</td>
    </tr>
    <tr>
      <th ng-class="{ done:   ticket.method }">forma</th>
      <td ng-class="{ empty: !ticket.method }">{{ ticket.method }}</td>
    </tr>
    <tr>
      <th ng-class="{ done:   hasValidTicket }">situação</th>
      <td ng-class="{ empty: !hasValidTicket }">{{ ticket.status }}</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th colspan="2">etiqueta/material</th>
    </tr>
    <tr>
      <th>nome</th>
      <td>{{ person.badgeName }}</td>
    </tr>
    <tr>
      <th>empresa</th>
      <td>{{ person.badgeCorp }}</td>
    </tr>
    <tr>
      <th>impresso?</th>
      <td>secr. de palestrantes</td>
    </tr>
    <tr>
      <th>entregue?</th>
      <td>há 5 minutos</td>
    </tr>
  </tbody>
</table>

<section ui-view="step" ng-class="{ loading: !step }">
</section>
