@import 'modules/shared';

main.printer {
  form {
    h1 {
      font-size: 300%;
    }
    padding: 5rem;
    text-align: center;

    button {
      background: lightblue;
    }
    button, input[type=text], input[type=radio] {
      font-size: xx-large;
      width: 35rem;
      position: relative;
      margin-bottom: .7rem;
      padding: 0.3rem;
      border: 0;

      &:focus:before {
        top: 0;
        left: -2rem;
        content: '❯';
        font-size: xx-large;
        color: blue;
        position: absolute;
      }
    }

  }
}
