@import 'modules/shared';

main.search {
  @include in-out(Left,Left);
  padding-top: 1rem;

  header {
    margin-top: 5rem;
    text-align: center;

    h1 {
      font-size: 300%;
    }
    small {
      display: inline-block;
      width: 25rem;
    }
  }

  form {
    width: auto;
    margin: 0 5%;
    padding: 0;
    position: relative;

    &.loading {
      min-height: 20rem;
      background: $loading no-repeat center center;
    }

    button {
      border: 0;
      text-align: left;
      margin: 0.4rem 1rem;
      padding: 0;
      float: left;
      width: 45%;
      background: lightgray;
      list-style: none;
      position: relative;
      box-shadow: 0px 0px 2px 2px lightgray;
      height: 6rem;

      &.pending {
        background: $pending-bg;
      }
      &.valid {
        background: $valid-bg;
      }
      &:focus {
        outline: 5px solid black;
        &:before {
          content: '❯';
          top: 1rem;
          left: -2.5rem;
          font-size: 500%;
          color: black;
          position: absolute;
        }
      }

      .empty {
        font-style: italic;
        color: gray;
      }

      h1 {
        width: 76%;
        height: 2rem;
        margin: 0;
        padding: 0;
        font-size: x-large;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          white-space: normal;
        }
      }

      figure {
        margin: -3px 0.5rem -4px 0;
        padding: 0;
        float: left;
        width: 14%;

        figcaption {
          font-weight: bold;
          text-align: center;
          width: 100%;
          font-size: 150%;
          display: inline-block;
          padding: 0.2rem 0;
        }

        img {
          width: 100%;
        }
      }

      p {
        font-size: 130%;
        width: 50%;
        float: left;
        margin: 0;
        padding: 0.1rem 0;
      }

    }
  }
}
