@import 'modules/shared';

header.search, header.home {

  form {
    margin: 0 9% 0 5%;

    input {
      font-size: 300%;
      font-weight: bolder;
      width: 100%;
      margin: 1rem;
    }
  }
}
