<header>
  <form action>
    <input ng-model="query" type="text"
           ui-keypress="{ 13: 'search($event)' }"
           placeholder="digite o critério de busca..."
           autofocus=1 />
  </form>
</header>
<main>
  <ul>
    <li ng-repeat="person in results"
        class="{{ person.tickets[0].status }}"
        ui-sref="detail({{person.id}})">
      <figure>
        <figcaption>P-{{ person.id }}</figcaption>
        <img gravatar-src="person.email" gravatar-size="100">
      </figure>

      <header ng-class="{ 'empty': !person.name }">{{ person.name || 'sem nome' }}</header>

      <p ng-class="{ 'empty': !person.email }"   >{{ person.email    || 'sem email' }}</p>
      <p ng-class="{ 'empty': !person.document }">{{ person.document || 'sem documento' }}</p>

      <p ng-show="person.tickets[0].status == 'confirmed'">entrada autorizada</p>
    </li>
  </ul>
  <br class="clear" />
</main>
