@import 'modules/shared';

$header-height: 3rem;

body>header {
  width: 100%;
  height: $header-height;
  position: fixed;
  background: lightgray;
  z-index: 2;

  form {
    margin: 0 5%;

    input {
      font-size: xx-large;
      font-weight: bolder;
      width: 100%;
    }
  }
}
body>main {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;

  ul {
    width: auto;
    margin: 0 5%;
    padding: 0;
    position: relative;

    li {
      @include border-radius(10px);
      margin: 0.4rem;
      float: left;
      width: 47%;
      background: lightgray;
      list-style: none;
      position: relative;

      &.confirmed {
        background: lightgreen;
      }
      &.none {
        background: lightpink;
      }
      &:hover {
        box-shadow: 0px 0px 6pt 6pt orange;
      }


      .empty {
        font-style: italic;
        color: gray;
      }

      header {
        width: 66%;
        height: 1.3rem;
        margin: 0.2rem 0;
        font-size: large;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
          white-space: normal;
        }
      }

      figure {
        margin: 0 0.5rem 0 0;
        padding: 0;
        float: left;
        width: 14%;

        figcaption {
          @include border-top-left-radius(10px);

          color: white;
          background: gray;
          font-family: "Courier New";
          text-align: center;
          width: 100%;
          display: inline-block;
        }

        img {
          @include border-bottom-left-radius(10px);
          width: 100%;
        }
      }

      p {
        width: 50%;
        float: left;
        margin: 0;
        padding: 0;
      }

    }
  }
}
