@import 'modules/shared';

$header-height: 3rem;

body>header {
  width: 100%;
  height: $header-height;
  position: fixed;
  background: lightgray;

  form {
    margin: 0 5%;

    input {
      font-size: xx-large;
      font-weight: bolder;
      width: 100%;
    }
  }
}
body>main {
  margin-top: $header-height;

  ul {
    li {
      @include border-radius(10px);
      margin: 0.4rem;
      float: left;
      width: 45%;
      background: lightgreen;
      list-style: none;

      p {
        margin: 0;
      }

      header {
        margin: 0;
        padding: 0;
        font-size: large;
        font-weight: bold;
        text-overflow: hidden;
        white-space: nowrap;
      }

      img {
        float: left;
      }
    }
  }
}
