<form class="choose" ng-show="validState">
  <h3>
    Entregue o crachá para o participante
  </h3>

  <h4 ng-hide="person.badgeMoved || person.badgePrinted.result.error">
    o crachá foi impresso na impressora {{ person.badgePrinted.location }}
  </h4>

  <h4 ng-show="person.badgeMoved">
    o crachá encontra-se em <b>{{ person.badgeMoved.location }}</b>
  </h4>

  {{ flash }}

  <h5 ng-show="flash">
    <b>erro:</b> {{ flash }}
  </h5>

  <button type="button"
          ng-click="given()"
          ui-keydown="{ 'down': 'focusReprint($event)' }"
          focus-on="given">
    okay, entregue!
  </button>
  <button type="button"
          ng-click="reprint()"
          ui-keydown="{ 'down': 'focusFix($event)', 'up': 'focusGiven($event)' }"
          focus-on="reprint">
    imprimir novamente
  </button>
  <button type="button"
          ng-click="fix()"
          ui-keydown="{ 'up': 'focusReprint($event)' }"
          focus-on="fix">
    editar etiqueta
  </button>

</form>
