[ui-view=step] {
  &.loading {
    opacity: .3;

    input[type=text] {
      background: url(/ajax-loader.gif) no-repeat right;
    }
  }

  .fill {
    text-align: center;

    h3 {
      font-size: x-large;
    }

    input[type=text] {
      font-size: xx-large;
      width: 40rem;
    }
  }

  .choose {
    padding: 0;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 500%;
    }
    h2, h3 {
      padding: 0;
    }
    button {
      background: lightblue;
    }
    button, input[type=text] {
      font-size: xx-large;
      width: 25rem;
      position: relative;
      margin-bottom: .7rem;
      padding: 0.3rem;
      border: 0;

      &:focus:before {
        top: 0;
        left: -2rem;
        content: '❯';
        font-size: xx-large;
        color: blue;
        position: absolute;
      }
    }
  }

  .paymentProof {
    table {
      margin: 0 5rem 2rem 5rem;
      display: block;
      width: auto;
      height: 10rem;
      border: 1px solid gray;
      overflow: scroll;

      tr:first-child {
        font-size: x-small;
        background: lightyellow;
        th {
          border-bottom: 1px solid gray;
        }
      }
      td {
        &.action { width: 5%;  }
        &.id     { width: 5%;  }
        &.date   { width: 25%; }
        &.price  { width: 15%; }
        &.status { width: 15%; }

        font-size: x-small;
      }
    }
  }
  .payment {
    table {
      margin: 0 5rem 2rem 5rem;
      display: block;
      width: auto;
      text-align: left;

      td {
        &:first-child {
          font-weight: bold;
        }
        &.key    { width: 30%;  }
        &.value  { width: 70%;  }

        font-size: small;
      }
    }
  }


  .fill_promocode {
    input[type=text] {
      text-align: center;
      width: 15rem;
    }
  }

  .print_badge, .done {
    background: url(/ajax-loader.gif) no-repeat top center;
    padding-top: 5rem;

    h1 {
      margin: 0 7rem;
      width: auto;
      border: 1px solid gray;
    }
  }
}
