[ui-view=step] {
  &.loading {
    opacity: .6;

    input[type=text] {
      background: url(/ajax-loader.gif) no-repeat right;
    }
  }

  .fill {

    text-align: center;

    h3 {
      font-size: x-large;
    }

    input[type=text] {
      font-size: xx-large;
      width: 40rem;
    }
  }

  .fill_country {
    padding: 0;
    h2, h3 {
      margin: 0;
      padding: 0;
    }
    button, input[type=text] {
      font-size: xx-large;
      width: 25rem;
      &:focus:before {
        content: '>';
        color: blue;
        font-size: xx-large;
        position: absolute;
        margin-left: -2rem;
      }
    }
  }

  .print_badge {
    background: url(/ajax-loader.gif) no-repeat top center;
    padding-top: 5rem;

    h1 {
      margin: 0 7rem;
      width: auto;
      border: 1px solid gray;
    }
  }
}
