angular
  .module('fd.config', [ 'fd' ])
  .constant('GatewayHost', '{{ gateway_host }}')
  .constant('DefaultPrinter', '{{ default_printer }}')
  .constant('AllPrinters', [
    {% for printer in printers %}
      '{{ printer }}',
    {% endfor %}
  ])
  .constant('Operators', {
    {% for operator in operators %}
      '{{ operator.name }}': '{{ operator.ip }}',
    {% endfor %}
  });
