angular
  .module('fd.config', [ 'fd' ])
  .constant('GatewayHost', '{{ gateway_host }}')
  .constant('DefaultPrinter', '{{ default_printer }}')
  .constant('AllPrinters', ['pre-1','expo','novos-1','novos-4','pal-1']);
