<div class="well well-sm col-md-6 card card-red">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/150x200" alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-sm-8">
      <div style="float:right;">{{person.id}}</div>
      <h4>{{person.name}}</h4>
      <small>
        <cite title="">{{person.city}}, {{person.state}}, {{person.country}}<i class="glyphicon  glyphicon-card glyphicon-map-marker"></i></cite>
      </small>
      <p>
      <i class="glyphicon glyphicon-card glyphicon-envelope"></i>{{person.email}}
      <br />
      <i class="glyphicon glyphicon-card glyphicon-globe"></i><a href="{{person.site}}">{{person.site}}</a>
    </div>
  </div>
</div>
